<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF=8"/>
    <title></title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Strengths</th>
        <th>Weaknesses</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><div th:text="${auditionee.id}"></div><a th:href="@{/something}">edit</a></td>
        <td><div th:text="${auditionee.name}"></div><a th:href="@{/individual/{id}/editname(id=${auditionee.id})}">edit</a></td>
        <td><div th:text="${auditionee.rating}"></div><a th:href="@{/individual/{id}/editrating(id=${auditionee.id})}">edit</a></td>
        <td>
            <ul>
                <li th:each=" strength : ${auditionee.strengths}" th:text="${strength.name}"></li>
            </ul>
            <a th:href="@{/individual/{id}/editstrength(id=${auditionee.id})}">edit</a>
        </td>
        <td><div th:text="${auditionee.weaknesses}"></div><a th:href="@{/individual/{id}/editweakness(id=${auditionee.id})}">edit</a></td>
        <td>
            <ul>
                <li th:each="note : ${notes}">
                    <span th:text="${#temporals.format(note.date, 'MM/dd/yy')}"></span>
                    <span th:text="${note.text}"></span>
                </li>
            </ul>
            <a th:href="@{/individual/{id}/addnoteentry(id=${auditionee.id})}">edit</a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>